<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title text="First Login Time"></title>
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <h2>First Time Login</h2>
                <label class=""><span style="color: red; "><b>*</b></span> Please answer at least one (1) of the hint
                    question below. Maximum selection is three (3) questions.</label>

                <select class="form-control" name="occupation1" onchange="CheckOccupation(this.value);">
                    <option> Select Occupation</option>
                    <option value="Lawyer"> Lawyer</option>
                    <option value="Nurse"> Nurse</option>
                    <option value="Lawyer"> Lawyer</option>
                    <option value="Teacher"> Teacher</option>
                    <option value="Programmer"> Programmer</option>
                    <option value="Accountant"> Accountant</option>
                    <option value="Other"> Other</option>
                </select>

                <div class="col-sm-5">
                    <input type="text" name="occupation2" id="occupation" class="form-control"
                           placeholder="please specify your occupation..." style="display:none;">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
